@font-face {
  font-family: "Abril";
  src: url("/src\assets\Fonts\Abril\Abril_Display_Regular.otf") format("otf");
}
@font-face {
  font-family: "Bakilda";
  src: url("/src\assets\Fonts\Bakilda\bakilda-histori.ttf") format("otf");
}
@font-face {
  font-family: "ValueSans ";
  src: url("/src\assets\Fonts\Value Sans Pro\ValueSansPro-Regular.ttf")
    format("otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .hero-section {
    background-image: url("/images/Background elements (hero).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    height: 814px;
    width: 100%;
  }
  .WhyChooseUs {
    background-image: url("/images/whyUs.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    height: 600px;
    width: 100%;
  }
  .whyUs_title {
    font-weight: 700;
    font-size: 50px;
    border-bottom: 2px solid;
    border-image: linear-gradient(263deg, #86371c, #86371c00 100%, #000);
    border-image-slice: 1;
    padding: 0 0;
    width: 8%;
  }
}
